<div class="containerTotal">

    <form action="/login" method="post">
        <div class="formLogin">
            <h2>Login</h2>
            <label>E-mail:</label>
            <input type="text" name="email">
            <label>Senha:</label>
            <input type="text" name="senha">
            <button type="submit">Acessar</button>
            <a href="/registro">Não possui uma conta, clique aqui</a>
        </div>
    </form>

</div>