<div class="containerTotal">

<form action="/registro" method="post">

    <div class="formLogin">
        <h2>registro</h2>
        <label>Nome:</label>
        <input type="text" name="nome">
        <label>E-mail:</label>
        <input type="text" name="email">
        <label>Senha:</label>
        <input type="text" name="senha">
        <label>Confirme a sua senha:</label>
        <input type="text" name="confirmasenha">
        <button type="submit">Cadastrar</button>
        <a href="/login">Já possui uma conta, clique aqui</a>
    </div>

</form>

</div>